@media screen and (max-width: 768px) {
  .sidenav{
    display: none;
  }
  .mobilenav{
    display: block;
  }
  .metacare{
    margin: 5% 0 0 5%;
  }
  ul{
    display: flex;
    margin-left: 0;
    justify-content: space-between;
  }
  input{
    width: 60vw;
  }
  .search-icon{
    margin-top: 5%;
  }
  .topnav-right{
    width: 30vw;
  }
  .down{
    width: 2vw;
  }
  .heading, .heading-right{
    flex-direction: column;
  }
  .search-input, select, .export{
    width: 90vw;
    margin-bottom: 5%;
  }
  .response-time{
    margin-left: 7.5%;
  }
}